*.iml
.gradle
/local.properties
/.ea/caches
/.ea/libraries
/.ea/modules.xml
/.ea/workspace.xml
/.ea/navEditor.xml
/.ea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
